@model WordTrainer.Domain.Word

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Word</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Word_Ru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word_Ru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Word_En)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Word_En)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
